body {
    margin: 0;
    font-family: Arial;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #111;
    color: #fff;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #0f172a, #1e293b);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.btn-primary {
    background: #22c55e;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
}

/* SECTION */
.section {
    padding: 60px;
    text-align: center;
}

/* FORM */
form input, form textarea {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

form button {
    background: #22c55e;
    padding: 10px;
    border: none;
    color: white;
}

/* CONTACT */
.contact-section {
    background: #0f172a;
    color: white;
    padding: 50px;
}

.contact-buttons .btn {
    margin: 10px;
    padding: 10px 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.call { background: blue; }
.whatsapp { background: green; }
.map { background: orange; }

/* FLOATING */
.floating-wa {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}
